<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Test">

	<listeners>
    <listener class-name="flipcart.listeners.Listeners"/>
 	</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="flipcart.testcases.VerifyFlipcartGroceryPageTest"/> 
      <class name="flipcart.testcases.VerifyFlipCarMobilePageTest"/>
      <class name="flipcart.testcases.VerifyFlipCartFashonPageTest"/>
      <class name="flipcart.testcases.VerifyFlipCartElectronicPageTest"/>
      <class name="flipcart.testcases.VerifyFlipcartHomeApplPageTest"/>
      <class name="flipcart.testcases.VerifyFlipcartAppliancePageTest"/>
      <class name="flipcart.testcases.VerifyFlipcartTravelPageTest"/>
      <class name="flipcart.testcases.VerifyFlipcartTopOfferPageTest"/>
      <class name="flipcart.testcases.VerifyFlipcartBeautyToyMorePageTest"/>
      <class name="flipcart.testcases.VerifyFlipcartTwoWheelerPageTest"/> 
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
